Loading of Dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('Creditcard_data.csv')

In [ ]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

Performing oversampling by applying SMOTE

In [ ]:
x_res=df.iloc[:, df.columns!= 'Class']
y_res=df.iloc[:,df.columns=='Class']

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
sample=SMOTE()
x_res,y_res=sample.fit_resample(x_res,y_res)

In [ ]:
x_res

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.620000
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.690000
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.660000
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.500000
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.990000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,535,0.327819,0.378972,0.917073,0.474536,0.205549,-0.996657,0.428123,-0.187451,-0.052155,...,-0.092712,-0.136592,-0.351823,-0.036394,0.361105,0.293441,-0.138847,-0.057184,-0.035724,1.166626
1522,556,0.010063,-0.730491,1.134112,0.862727,0.721961,-0.431170,-0.749853,0.172099,0.376065,...,0.192225,-0.015249,-0.048676,0.192826,-0.116463,0.052467,0.387947,-0.061412,-0.046407,1.370413
1523,476,-2.248113,-1.820410,1.333871,1.496782,1.211877,-1.003225,0.533673,-0.101182,-0.222510,...,1.267367,0.437842,0.377535,0.761594,-0.038423,0.321655,-0.261357,-0.197002,-0.024972,330.467791
1524,441,-1.679515,1.241726,-0.078063,2.253902,0.158263,-1.186312,-0.975695,0.683929,-1.568801,...,0.014828,0.311128,0.109594,-0.370476,0.349996,0.202955,-0.110917,0.094027,-0.135272,0.457116
1525,527,-1.963731,-2.396095,2.442212,1.107170,2.410640,0.542904,-2.007513,0.755891,0.920996,...,0.595510,0.410221,1.164000,0.278746,-0.814429,-0.198355,0.815857,-0.123929,-0.169504,1.482827

In [ ]:
x_res['Class']=y_res

In [ ]:
x_res

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.620000,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.690000,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.660000,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.500000,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.990000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,535,0.327819,0.378972,0.917073,0.474536,0.205549,-0.996657,0.428123,-0.187451,-0.052155,...,-0.136592,-0.351823,-0.036394,0.361105,0.293441,-0.138847,-0.057184,-0.035724,1.166626,1
1522,556,0.010063,-0.730491,1.134112,0.862727,0.721961,-0.431170,-0.749853,0.172099,0.376065,...,-0.015249,-0.048676,0.192826,-0.116463,0.052467,0.387947,-0.061412,-0.046407,1.370413,1
1523,476,-2.248113,-1.820410,1.333871,1.496782,1.211877,-1.003225,0.533673,-0.101182,-0.222510,...,0.437842,0.377535,0.761594,-0.038423,0.321655,-0.261357,-0.197002,-0.024972,330.467791,1
1524,441,-1.679515,1.241726,-0.078063,2.253902,0.158263,-1.186312,-0.975695,0.683929,-1.568801,...,0.311128,0.109594,-0.370476,0.349996,0.202955,-0.110917,0.094027,-0.135272,0.457116,1
1525,527,-1.963731,-2.396095,2.442212,1.107170,2.410640,0.542904,-2.007513,0.755891,0.920996,...,0.410221,1.164000,0.278746,-0.814429,-0.198355,0.815857,-0.123929,-0.169504,1.482827,1

RANDOM SAMPLING

In [ ]:
sample_df=x_res.sample(1067)

In [ ]:
x=sample_df.iloc[:, sample_df.columns!= 'Class']
y=sample_df.iloc[:,sample_df.columns=='Class']

Splitting the data in test and train data

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

Using Naive Bayes algorithm

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
y_pred  =  classifier.predict(x_test)
print(y_pred)

[1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 0 0 0 0 1 1 0 1 1 0 1 1 1 1 0 1 0 0 1 1 0
 0 0 1 0 1 1 0 1 0 0 0 0 1 1 1 0 0 0 1 0 1 1 1 0 1 1 0 1 0 0 0 1 1 1 1 1 0
 1 1 0 0 1 1 0 1 1 1 1 1 0 1 0 0 0 1 1 1 1 0 0 0 1 1 1 1 0 0 1 1 1 0 0 0 1
 1 1 0 0 0 1 1 1 1 1 1 1 1 1 0 0 0 1 0 1 1 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 1
 0 0 1 1 0 1 0 0 0 0 1 1 0 1 0 1 0 0 1 1 0 0 0 0 0 1 1 1 0 0 1 0 1 1 1 0 1
 0 1 0 0 0 1 0 1 0 1 1 1 0 1 0 1 0 0 1 0 1 0 0 0 1 0 1 0 0]

In [ ]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
print(score)

0.8551401869158879

In [ ]:
from sklearn.ensemble import RandomForestClassifier

Random Forest Classifier

In [ ]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

<ipython-input-18-ce55d9827ec2>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

RandomForestClassifier()

In [ ]:
y_pred2  =  rf.predict(x_test)
print(y_pred2)

[1 1 1 1 0 1 0 1 1 0 0 0 1 1 0 1 0 0 1 0 0 1 0 1 1 0 1 1 1 1 0 0 0 0 1 1 0
 0 0 1 0 1 1 1 1 0 0 1 0 1 1 0 0 0 0 1 0 1 0 1 0 1 0 0 1 0 0 0 1 1 1 1 1 0
 1 1 0 0 1 1 0 0 1 1 1 0 0 1 0 0 0 1 1 0 0 0 1 0 1 1 1 1 0 0 1 1 1 0 0 0 1
 1 0 0 0 0 1 0 0 0 1 1 0 1 1 0 0 0 1 0 1 1 0 0 0 1 1 1 0 1 1 0 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 0 1 1 1 0 1 0 1 0 0 1 1 0 0 0 0 0 1 1 1 0 0 1 0 1 0 1 0 1
 0 1 0 0 0 1 1 1 0 1 1 1 0 1 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0]

In [ ]:
score2=accuracy_score(y_pred2,y_test)
print(score2)

0.985981308411215

Logistic Regression

In [ ]:
from sklearn import linear_model
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
logr_pred = logr.predict(x_test)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
score3=accuracy_score(logr_pred,y_test)
print(score3)

0.9392523364485982

Decision tree classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred3 = clf.predict(x_test)

In [ ]:
score4=accuracy_score(y_pred3,y_test)
print(score4)

0.9766355140186916

KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=7)

In [ ]:
pred4=knn.predict(x_test)

In [ ]:
score5=accuracy_score(pred4,y_test)
print(score5)

0.7897196261682243

Storing all accuracies in a list

In [ ]:
simple_sampling=[score,score2,score3,score4,score5]
simple_sampling

[0.8551401869158879,
 0.985981308411215,
 0.9392523364485982,
 0.9766355140186916,
 0.7897196261682243]

STRATIFIED SAMPLING

In [ ]:
strat=x_res.groupby('Class', group_keys=False).apply(lambda x: x.sample(392,replace=True))

In [ ]:
x=strat.iloc[:, strat.columns!= 'Class']
y=strat.iloc[:,strat.columns=='Class']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

Naive Bayes

In [ ]:
classifier = GaussianNB()
classifier.fit(x_train, y_train)
y_pred6  =  classifier.predict(x_test)
score6=accuracy_score(y_pred6,y_test)
print(score6)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8471337579617835

Random forest

In [ ]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred7  =  rf.predict(x_test)
score7=accuracy_score(y_pred7,y_test)
print(score7)

<ipython-input-33-1d3c061d01e8>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

0.9936305732484076

Logistic regression

In [ ]:
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
pred8 = logr.predict(x_test)
score8=accuracy_score(pred8,y_test)
print(score8)

0.9299363057324841

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Decision Tree Classifier

In [ ]:
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred9 = clf.predict(x_test)
score9=accuracy_score(y_pred9,y_test)
print(score9)

0.9681528662420382

KNN

In [ ]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)
pred10=knn.predict(x_test)
score10=accuracy_score(pred10,y_test)
print(score10)

0.8789808917197452

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [ ]:
stratified_sampling=[score6,score7,score8,score9,score10]
stratified_sampling

[0.8471337579617835,
 0.9936305732484076,
 0.9299363057324841,
 0.9681528662420382,
 0.8789808917197452]

SYSTEMATIC SAMPLING

In [ ]:
def systematic_sampling(df, step):
    indexes = np.arange(0, len(df), step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample
data = systematic_sampling(x_res, 2)

In [ ]:
x = data.iloc[:,data.columns!='Class']
y = data.iloc[:,data.columns=='Class']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

Naive Bayes

In [ ]:
classifier = GaussianNB()
classifier.fit(x_train, y_train)
y_pred11  =  classifier.predict(x_test)
score11=accuracy_score(y_pred11,y_test)
print(score11)

0.8235294117647058

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Random forest

In [ ]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred12  =  rf.predict(x_test)
score12=accuracy_score(y_pred12,y_test)
print(score12)

<ipython-input-42-68eeb7eca8f7>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

0.9934640522875817

Logistic regression

In [ ]:
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
pred13 = logr.predict(x_test)
score13=accuracy_score(pred13,y_test)
print(score13)

0.8823529411764706

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Decision Tree Classifier

In [ ]:
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred14 = clf.predict(x_test)
score14=accuracy_score(y_pred14,y_test)
print(score14)

0.9738562091503268

KNN

In [ ]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)
pred15=knn.predict(x_test)
score15=accuracy_score(pred15,y_test)
print(score15)

0.8104575163398693

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [ ]:
systematic_sampling=[score11,score12,score13,score14,score15]
systematic_sampling

[0.8235294117647058,
 0.9934640522875817,
 0.8823529411764706,
 0.9738562091503268,
 0.8104575163398693]

CLUSTER SAMPLING

In [ ]:
def get_clustered_Sample(df, n_per_cluster, num_select_clusters):
    N = len(df)
    K = int(N/n_per_cluster)
    data = None
    for k in range(K):
        sample_k = df.sample(n_per_cluster)
        sample_k["cluster"] = np.repeat(k,len(sample_k))
        df = df.drop(index = sample_k.index)
        data = pd.concat([data,sample_k],axis = 0)
    random_chosen_clusters = np.random.randint(0,K,size = num_select_clusters)
    samples = data[data.cluster.isin(random_chosen_clusters)]
    return(samples)
cluster_data = get_clustered_Sample(df = x_res, n_per_cluster = 109, num_select_clusters = 7)
cluster_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Class,cluster
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.990000,0,0
431,311,1.182238,-0.147518,1.248518,0.862034,-1.076728,-0.299690,-0.614840,0.064575,0.907341,...,-0.057346,0.030121,0.438310,0.259808,0.315896,0.017962,0.027611,8.580000,0,0
428,310,-1.013287,0.512380,0.837259,0.408468,2.078535,4.692662,-0.294088,0.898044,0.919347,...,-0.879661,-0.147591,1.003181,0.118079,-0.460627,-0.271700,0.012446,22.090000,0,0
464,341,-0.268621,-0.233374,1.025263,-2.129325,1.566375,3.863064,-0.732265,0.807716,-1.230053,...,0.921648,-0.410791,1.052995,0.398555,0.070685,-0.070437,-0.148873,22.000000,0,0
1519,480,-0.997229,0.475811,1.573740,0.373255,0.892028,-0.927256,0.708357,-0.079250,-0.273392,...,0.265571,-0.268319,0.382128,0.373804,-0.422298,-0.086186,-0.126640,0.950047,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,114,1.194066,-0.072582,0.635286,0.768616,-0.735584,-0.673466,-0.146299,-0.065653,0.646048,...,-0.770991,0.074444,0.397713,0.285947,0.286760,-0.031033,0.017052,23.880000,0,13
1089,224,-0.519626,0.899330,-0.060686,1.080316,0.488528,-0.165700,-0.408179,0.450801,-0.781140,...,-0.295693,-0.002190,-0.945261,-1.032667,0.100877,0.239058,0.137327,0.743873,1,13
17,13,-0.436905,0.918966,0.924591,-0.727219,0.915679,-0.127867,0.707642,0.087962,-0.665271,...,-0.672638,-0.156858,-0.888386,-0.342413,-0.049027,0.079692,0.131024,0.890000,0,13
824,563,0.508838,-0.292651,0.803427,0.793931,0.290308,-0.685548,-0.412397,0.019228,0.231504,...,-0.357291,0.166776,0.067268,0.119889,0.270592,-0.045732,-0.015484,1.338266,1,13
1094,92,0.560406,0.427002,0.327629,0.260028,0.490784,0.106133,0.132999,0.115814,-0.180683,...,-0.493711,0.129363,-0.918088,-0.711523,0.097391,0.126940,0.136370,1.730142,1,13

In [ ]:
x = cluster_data.iloc[:,cluster_data.columns!='Class']
y = cluster_data.iloc[:,cluster_data.columns=='Class']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

Naive Bayes

In [ ]:
classifier = GaussianNB()
classifier.fit(x_train, y_train)
y_pred16  =  classifier.predict(x_test)
score16=accuracy_score(y_pred16,y_test)
print(score16)

0.8104575163398693

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Random Forest

In [ ]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred17  =  rf.predict(x_test)
score17=accuracy_score(y_pred17,y_test)
print(score17)

<ipython-input-51-6783f2b48473>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

0.9803921568627451

Logistic Regression

In [ ]:
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
pred18 = logr.predict(x_test)
score18=accuracy_score(pred18,y_test)
print(score18)

0.9281045751633987

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Decision Tree Classifier

In [ ]:
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred19 = clf.predict(x_test)
score19=accuracy_score(y_pred19,y_test)
print(score19)

0.9673202614379085

KNN

In [ ]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)
pred20=knn.predict(x_test)
score20=accuracy_score(pred20,y_test)
print(score20)

0.738562091503268

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [ ]:
cluster_sampling=[score16,score17,score18,score19,score20]
cluster_sampling

[0.8104575163398693,
 0.9803921568627451,
 0.9281045751633987,
 0.9673202614379085,
 0.738562091503268]

Comibining all the calculated accuracies of different sampling techniques in a single table

In [ ]:
df2=pd.DataFrame

In [ ]:
model=['Naive Bayes','Random Forest','Logistic Regression','Decision Tree classifier','KNN']
finaltable= {
    'Models': model,
    'Simple random':simple_sampling,
    'Stratified' :stratified_sampling,
    'Systematic': systematic_sampling,
    'Cluster':cluster_sampling
          }
df2 = pd.DataFrame(finaltable)

In [ ]:
df2

                     Models  Simple random  Stratified  Systematic   Cluster
0               Naive Bayes       0.855140    0.847134    0.823529  0.810458
1             Random Forest       0.985981    0.993631    0.993464  0.980392
2       Logistic Regression       0.939252    0.929936    0.882353  0.928105
3  Decision Tree classifier       0.976636    0.968153    0.973856  0.967320
4                       KNN       0.789720    0.878981    0.810458  0.738562

From the above table we can conclude that Random forest shows maximum accuracy with all the above sampling techniques.